{% extends "base.html" %}

{% block content%}
    <h1>Login</h1>
    <form method='post'action="/login">
        <label>Username</label>
        <input name="username" type="text" value ="{{username}}"/><br><br>
        <p>{{username_error}}</p>
        <label>Password</label>
        <input name="password" type="password"/><br><br>
        <p>{{password_error}}</p>
        <label>Verify Password</label>
        <input name="verify_password" type="password"/><br><br>
        <p>{{verify_password_error}}</p>
        <input type="Submit" value = "Login"/>

    </form>
{% endblock %}